
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --border-color: black;
    --normal-padding: 10px;
    --background-color: #78c0e0;
    --text-background-color: #0e0e52;
}

nav {
    background-color: var(--background-color);
    padding: var(--normal-padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: var(--normal-padding);
}

main {
    max-width: 800px;
    padding: 0;
}

aside {
    position:relative;
    width: 400px;
    text-align: center;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;    
    border: 2px solid rgb(0 0 0 / 0.2);
    background-color: var(--background-color);
    color: var(--text-background-color);
}